* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #333;
	text-decoration: none;
}

ul,ol {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
}

body {}

html {}

.wrap{
	display:block;
	height: 100vh;
	background-color:black;

}
